<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511640818735-7rgi03b3j3hgd440564qkfreasglp6o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511640818735-7rgi03b3j3hgd440564qkfreasglp6o8</string>
	<key>API_KEY</key>
	<string>AIzaSyAZfq0SIZ2sMUF0GM1hQqJisltxYWSiH50</string>
	<key>GCM_SENDER_ID</key>
	<string>511640818735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chats</string>
	<key>PROJECT_ID</key>
	<string>dating-chats-dearsecret</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-chats-dearsecret.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511640818735:ios:d611f30924477f0903e2da</string>
</dict>
</plist>